.wrapper {
    position: absolute;
    left: 260px;
    margin-top: 2%;
    margin-right: 40px;
    width: 80%;
    display: grid;
    grid-template-columns: 300px 500px 160px;
    grid-template-rows: 100px 550px;
    grid-gap: 10px;
    padding: 10px;
}

.box1 {
    grid-column: 1 / 5;
    grid-row: 1;
}

.box2 {
    grid-row: 1;
    grid-column: 3 / 6;
    padding-top: 25px;
    padding-left: 90px;
}

.box3 {
    grid-column: 1 / 6;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.box3>div {
    padding-top: 15px;
    padding-left: 40px;
    width: 90%;
    height: 15%;
}